{% extends "base.html" %}
{% load user_filters %}
{% block title %}Профиль{% endblock title %}
{% block content %}
<form action="{% url "users:profile" user.pk %}" method="post">
	{% csrf_token %}
  {% for field in form %}
		<div class="form-group row my-3 p-3">
			<label for="{{ field.id_for_label }}">
				{{ field.label }}
				{% if field.field.required %}
				<span class="required text-danger">*</span>
				{% endif %}
			</label>
			{{ field|addclass:'form-control' }}
		</div>
  {% endfor %}
	<button type="submit" class="btn btn-primary">Обновить профиль</button>
</form>
{% endblock content %}